@model IEnumerable<Bikepark.Models.Item>

@{
    Layout = "_ManageLayout";
    ViewData["Title"] = "Склад";
}

<h1>Склад</h1>

<p>
    <a asp-action="Create">Внести новый инвентарь</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemType.ItemTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemID">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ItemID">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
           $(".navbar-nav #link-manage-storage").addClass("active");
        });    
    </script>
}