@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Bikepark.Models.ItemRecord>

@using Bikepark.Models
@using Microsoft.EntityFrameworkCore
@using Bikepark.Views.Helpers
@{
    ItemRecord someRent = new ItemRecord();
}

<table class="tablealign">
    <thead>
        <tr>
            <th style="width : 20%">
                <div class="row-sm">@Html.DisplayNameFor(m => someRent.Record)</div>
            </th>
            <th style="width : 20%">
                <div class="row-sm">@Html.DisplayNameFor(m => someRent.Status)</div>
            </th>
            <th style="width : 30%">
                <div class="row-sm">@Html.DisplayNameFor(m => someRent.Start)</div>
            </th>
            <th style="width : 30%">
                <div class="row-sm">@Html.DisplayNameFor(m => someRent.End)</div>
            </th>
        </tr>
    </thead>
    <tbody id="itemrecords-list">
        @foreach (var rent in Model)
        {
            var Start = rent.Start ?? rent.Record.Start;
            var End = rent.End ?? rent.Record.End;
            <tr>
                <td style="width : 20%">
                    @if (rent.Status == Status.Scheduled || rent.Status == Status.Active)
                    {
                        <a asp-action="Control" asp-route-id="@rent.RecordID">
                            <div class="row-sm">Запись #@Html.DisplayFor(m => rent.RecordID)</div>
                        </a>
                    }else if (rent.Status == Status.OnService)
                    {
                        <a asp-action="Control" asp-route-id="@rent.RecordID">
                            <div class="row-sm">Запись #@Html.DisplayFor(m => rent.RecordID)</div>
                        </a>
                    }
                </td>
                <td style="width : 20%">
                    <div class="row-sm">@Html.DisplayFor(m => rent.Status)</div>
                </td>
                <td style="width : 30%">
                    <div class="row-sm">@Html.DisplayFor(m => Start )</div>
                </td>
                <td style="width : 30%">
                    <div class="row-sm">@Html.DisplayFor(m => End )</div>
                </td>
            </tr>
        }
    </tbody>
</table>


