@model IEnumerable<Bikepark.Models.Record>
@{

}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {  
            var alert = "";
            if (item.AttentionStatus == AttentionStatus.Attention)
            {
                    alert = "alert alert-danger";
            }else 
            if (item.AttentionStatus == AttentionStatus.Attention)
            {
                    alert = "alert alert-warning";            
            }
            <tr class="@alert">
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerFullName)
                @Html.DisplayFor(modelItem => item.Customer.CustomerPhoneNumber)
            </td>
            <td>
                <a asp-action="Control" asp-route-id="@item.RecordID">Управление</a>
                @if ( User.Identity.IsAuthenticated ){
                    if ( User.IsInRole(BikeparkConfig.ManagersRole) ){  <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.RecordID">Удалить</a> 
                    }
                }
                
            </td>
        </tr>
}
    </tbody>
</table>