@model IEnumerable<Bikepark.Models.Record>

@{

}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            var alert = "";
            var start = "";
            var end = "";
            if (item.Status == Status.Scheduled)
            {
                if (item.Start < DateTime.Now.AddMinutes(60))
                    alert = "alert alert-warning";
                if (item.Start < DateTime.Now)
                    alert = "alert alert-danger";
            }else 
            if (item.Status == Status.Active)
            {
                if (item.End < DateTime.Now.AddMinutes(30))
                    alert = "alert alert-warning";
                if (item.End < DateTime.Now)
                    alert = "alert alert-danger";                
            }
        <tr class="@alert">
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td style="@start">
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td style="@end">
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerFullName)
                @Html.DisplayFor(modelItem => item.Customer.CustomerContactNumber)
            </td>
            <td>
                <a asp-action="Control" asp-route-id="@item.RecordID">Управление</a>
                @if ( User.Identity.IsAuthenticated ){
                    if ( User.IsInRole(BikeparkConfig.ManagersRole) ){  <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.RecordID">Удалить</a> 
                    }
                }
                
            </td>
        </tr>
}
    </tbody>
</table>