@model IEnumerable<Bikepark.Models.Pricing>

@{
    ViewData["Title"] = "Тарифы";
    ViewData["menu"] = "pricing";
    Layout = "_MainLayout";
}

<h1>Тарифы</h1>
<div class="d-flex flex-wrap justify-content-between align-items-center border-bottom">
    <ul class="nav col-md-6 justify-content-start">
        <li class="nav-item">
            <a class="nav-link" asp-action="Prepare" asp-controller="Rental" >Склад и подготовка велосипедов</a>
        </li>   
    </ul>

    <ul class="nav  col-md-6 justify-content-end">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Pricings" asp-action="Export">Загрузить таблицу XLS</a>
        </li>    
        <li class="nav-item"> 
            <a class="nav-link" asp-action="Main" asp-controller="Rental">Управление</a> 
        </li>    
    </ul>  
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PricingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricingCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHoliday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReduced)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PricingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricingCategory.PricingCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricingType)
            </td>
            <td>                
                <partial name="_DaysOfWeekLabel" model="@item.DaysOfWeek" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHoliday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReduced)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
