
@model Bikepark.Models.RentalRecord

@using Bikepark.Models
@using Microsoft.EntityFrameworkCore
@using Bikepark.Views.Helpers
@using Newtonsoft.Json

@{
    Layout = "_RentalLayout";
    ViewData["Title"] = "Запись проката";
    SelectList customersList = new SelectList( ViewBag.Customers,  "CustomerID",  "CustomerFullName");
    DbSet<RentalItem> RentedItems = ViewBag.RentedItems;

    Dictionary<int, List<(DateTime, DateTime)>> Availability = RentedItems.Where(renteditem => renteditem.RentalStatus != RentalStatus.Closed)
        .ToLookup(
                renteditem => renteditem.ItemID ?? -1,
                renteditem => ( 
                    renteditem.Start??renteditem.RentalRecord?.Start??DateTime.Now, 
                    renteditem.RentalStatus==RentalStatus.Active ? DateTime.Now.AddHours(1): 
                    renteditem.End??renteditem.RentalRecord?.End??DateTime.MaxValue 
                )             
            ).ToDictionary(x => x.Key, x => x.ToList());

    var Scheduled = Model.RentalStatus == RentalStatus.Scheduled;
    var Active = Model.RentalStatus == RentalStatus.Active;
    var Closed = Model.RentalStatus == RentalStatus.Closed;
    var Empty = Model.RentalItems.Count == 0;
    var Start = Model.Start;

    var Duration = 1;
    if (Model.Start!=null && Model.End!=null){
        if (Model.RentalType == RentalType.Daily)
            Duration = (Model.End - Model.Start).GetValueOrDefault(TimeSpan.FromDays(1)).Days;
        else 
        if (Model.RentalType == RentalType.Hourly)
            Duration = (Model.End - Model.Start).GetValueOrDefault(TimeSpan.FromHours(1)).Hours;
    }
}
@{
    var btn_schedule_style = "";
    var btn_cancel_style = "";
    var btn_permit_style = "";
    var btn_giveout_style = "";
    var btn_giveout_more_style = "";
    var chk_getbackall_style = "";
    var actions_schedule_style = "";
    var customer_details_style = "";
    var billing_options_style = "";
    var rental_info_style = "";

    var timer_start_active = "";
    var timer_end_active = "";
    var  action_giveout = true;
    var  action_schedule = false;
    var  action_giveout_enabled = true;
    var  action_schedule_enabled = true;
    var  billing_options_enabled = true;
    var  rental_type_once = Model.RentalType == RentalType.OneTime;
    var  rental_type_hourly = Model.RentalType == RentalType.Hourly;
    var  rental_type_daily = Model.RentalType == RentalType.Daily;

    if(Model.Customer!=null)
    {
        customer_details_style = "display: none";
    }

    if(Model.RentalStatus!=null)
    {
        rental_info_style = "display: none";
    }

    if(Model.RentalStatus==null)
    {
        Start = DateTime.Now;
        btn_schedule_style = "display: none";
        btn_cancel_style = "display: none";
        if (Empty)
        {
            btn_permit_style = "";
            btn_giveout_style = "display: none";
        }
        else
        {
            btn_permit_style = "display: none";
            btn_giveout_style = "";            
        }
        btn_giveout_more_style = "display: none";
        chk_getbackall_style = "display: none";
        actions_schedule_style = "";
        action_giveout = true;
        action_schedule = false;
        action_giveout_enabled = true;
        action_schedule_enabled = true;
        billing_options_enabled = true;
        timer_start_active = "timer-active";
        timer_end_active = "";
    }else
    if(Model.RentalStatus==RentalStatus.Scheduled)
    {
        btn_schedule_style = "";
        btn_cancel_style = "";
        btn_permit_style = "display: none";
        btn_giveout_style = "display: none";        
        btn_giveout_more_style = "display: none";
        chk_getbackall_style = "display: none";
        actions_schedule_style = "";
        action_giveout = false;
        action_schedule = true;
        action_giveout_enabled = true;
        action_schedule_enabled = true;
        billing_options_enabled = true;
        timer_start_active = "";
        timer_end_active = "";
    }else
    if(Model.RentalStatus==RentalStatus.Closed)
    {
        btn_schedule_style = "display: none";
        btn_cancel_style = "display: none";
        btn_permit_style = "display: none";
        btn_giveout_style = "display: none";
        btn_giveout_more_style = "display: none";
        chk_getbackall_style = "display: none";
        actions_schedule_style = "display: none";
        action_giveout = false;
        action_schedule = false;
        action_giveout_enabled = false;
        action_schedule_enabled = false;
        billing_options_enabled = false;
        timer_start_active = "";
        timer_end_active = "";
    }else
    if(Model.RentalStatus==RentalStatus.Active)
    {
        btn_schedule_style = "display: none";
        btn_cancel_style = "display: none";
        btn_permit_style = "display: none";
        btn_giveout_style = "display: none";
        btn_giveout_more_style = "";
        chk_getbackall_style = "";
        actions_schedule_style = "display: none";
        action_giveout = false;
        action_schedule = false;
        action_giveout_enabled = false;
        action_schedule_enabled = false;
        billing_options_enabled = false;
        timer_start_active = "";
        timer_end_active = "timer-active";
    }
}
    <div id="rental-control"> 
        <div class="container-fluid"> 
            <div class="row justify-content-center mx-0" >  
                <div class="col-12 align-self-baseline"> 
                    <div class="row"> 
                        <h4 class="col-2">Заказ: </h4> 
                        <h4 class="col-10">#                  
                            @if (Model.RentalRecordID != null) {
                                <i>@Html.DisplayFor(m => m.RentalRecordID)</i>
                            }
                            <input type="hidden" asp-for="RentalRecordID" />         
                            @if (Model.RentalRecordID != null) {
                                <i>@Html.DisplayFor(m => m.RentalStatus)</i>
                            }
                        </h4>  
                    </div>
                </div>
            </div>
        </div>
        
        <form asp-action="Control" asp-controller="Rental">

        <div class="container-fluid" >   
            <div class="row row-cols-3 justify-content-center mx-0" >  
                <div class="d-flex justify-content-start"> 
                    <button type="submit" id="btn-giveout" name="control" value="giveout"  class="btn btn-success col-6 mx-0 text-truncate"       style = "@btn_giveout_style">
                        <i class="bi bi-bicycle"></i> Выдать
                    </button> 
                    <button type="button" id="btn-permit"       action="" class="btn btn-success col-6 mx-0 text-truncate"       style = "@btn_permit_style">
                        <i class="bi bi-ticket-perforated"></i> Допуск
                    </button> 
                    <button type="button" id="btn-giveout-more"   class="btn btn-success col-6 mx-0 text-truncate"       style = "@btn_giveout_more_style" disabled>
                        <i class="bi bi-plus"></i><i class="bi bi-bicycle"></i> Дополнить
                    </button> 
                    <button type="button" id="btn-getback"        class="btn btn-primary col-6 mx-0 text-truncate"       style = "@chk_getbackall_style" disabled> 
                        <i class="bi bi-hand-thumbs-up"></i> Принять
                    </button>
                    <button type="button" id="btn-schedule"       class="btn btn-warning col-6 mx-0 text-truncate"       style = "@btn_schedule_style" disabled="@Empty">
                        <i class="bi bi-calendar-check"></i> Бронировать
                    </button>
                    <button type="button" id="btn-cancel"         class="btn btn-outline-danger col-6 mx-0 text-truncate"style = "@btn_cancel_style">
                        <i class="bi bi-calendar-minus"></i> Снять бронь
                    </button>
                </div>
                <div class="d-flex justify-content-end"> 
                </div>
                <div class="d-flex justify-content-end"> 
                    <button type="button" class="btn btn-light col-4 " id="btn-back">
                        <i class="bi bi-arrow-return-left"></i>
                    </button>
                </div>
            </div>
        </div>
                
            <div class="container-fluid"> 
                <div class="row row-cols-3 mx-0" >  
                    <h4 class="col-2 align-self-baseline">Клиент: </h4> 
                    <div class="col-6 align-self-baseline">            
                        @Html.DisplayFor(m => m.Customer.CustomerFullName)
                        @Html.DisplayFor(m => m.Customer.CustomerContactNumber)
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-light col-4" id="btn-customer">
                                <i class="bi bi-chevron-expand"></i>
                        </button>
                    </div>          
                </div>               
            </div>

            <div class="container-fluid " id="customer-details" style="@customer_details_style">                                        
                <div class="row row-cols-sm-3 mx-0" id="customer-main-detail" >
                    <input name="Customer.CustomerID" class="form-control" id="customer-id" type="hidden"/>
                    
                    <div>                    
                        <div class="form-group" >  
                            <label asp-for="Customer.CustomerContactNumber" class="control-label text-truncate"></label>
                            <input asp-for="Customer.CustomerContactNumber" type="tel" id="customer-num" class="form-control" />
                            <span asp-validation-for="Customer.CustomerContactNumber" class="text-danger"></span>
                        </div> 
                        <div class="form-group customer-more-detail" style="display: none">
                            <label asp-for="Customer.CustomerEMail" class="control-label"></label>
                            <input asp-for="Customer.CustomerEMail" type="email" id="customer-email" class="form-control" />
                            <span asp-validation-for="Customer.CustomerEMail" class="text-danger"></span>
                        </div>                  
                    </div>
                    <div>
                        <div class="form-group">
                            <label asp-for="Customer.CustomerFullName" class="control-label  text-truncate"></label>
                            <input asp-for="Customer.CustomerFullName" class="form-control"  id="customer-name" />
                            <span asp-validation-for="Customer.CustomerFullName" class="text-danger"></span>
                        </div> 
                        <div  class="form-group customer-more-detail" style="display: none">
                            <label asp-for="Customer.CustomerPassport" class="control-label"></label>
                            <input asp-for="Customer.CustomerPassport" class="form-control"  id="customer-doc"/>
                            <span asp-validation-for="Customer.CustomerPassport" class="text-danger"></span>
                        </div>
                    </div>                           
                    <div class="row row-cols-4 mx-0 align-content-end">
                        <div class="col-2 row-cols-1 px-0" tabindex="0" title="Новый клиент">
                            <input type="checkbox"  id="chk-new-customer"   class="btn-check"   checked disabled>
                            <label                  for="chk-new-customer"  class="btn btn-check-label btn-outline-primary">
                                <i class="bi bi-person-plus"></i>                           
                            </label>                                    
                        </div>
                        <div class="col-2 row-cols-1 px-0" tabindex="0" title="Обновить данные клиента">
                            <input type="checkbox"  id="chk-upd-customer"   class="btn-check"   disabled>
                            <label                  for="chk-upd-customer"  class="btn btn-check-label btn-outline-success">
                                <i class="bi bi-person-check"></i>                           
                            </label>
                        </div>
                        <button type="button"  id="btn-search-customer" class="btn col-4 btn-outline-secondary text-truncate" title="Найти по номеру телефона">
                            <i class="bi bi-search"></i><i class="bi bi-people"></i>
                        </button> 
                        <button type="button"  id="btn-more-customer-detail" class="btn col-4 btn-outline-secondary" title="Показать доп. данные">
                            <i class="bi bi-person-lines-fill"> </i>
                        </button> 
                    </div> 
                </div>  


                <div id="сustomer-search-results" style="display: none">
                    <!--partial name="_CustomersSearchResults"/-->   
                </div>    
            </div>
                    
            <div class="container-fluid"> 
                <div class="row row-cols-3 mx-0" >  
                    <h4 class="col-2 align-self-baseline">Время: </h4> 
                    <div class="col-6 align-self-baseline text-truncate">            
                        @if (Model.RentalStatus == RentalStatus.Active)
                        {
                            <i>Выдан </i>
                        }
                        @if (Model.RentalStatus == RentalStatus.Scheduled)
                        {
                            <i>Запланирован </i>
                        }
                        @if (Model.RentalStatus == RentalStatus.Closed)
                        {
                            <i>Завершен </i>
                        }
                        @if (Model.Start != null) 
                        {
                            <i>c @Html.DisplayFor(m => m.Start)</i>
                        }
                        @if (Model.End != null && Model.RentalStatus != RentalStatus.Closed) 
                        {
                            <i>по @Html.DisplayFor(m => m.End)</i>
                        }
                        @if (Model.EndActual != null && Model.RentalStatus == RentalStatus.Closed) 
                        {
                            <i>по @Html.DisplayFor(m => m.EndActual)</i>
                        }
                    </div>
                    <div class="col-4 d-flex justify-content-end">    
                        <button type="button" class="btn btn-light col-4" id="btn-rental-info">
                            <i class="bi bi-chevron-expand"></i>
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="container-fluid" id="rental-info"  style="@rental_info_style">   
                <div class="row row-cols-sm-3 mx-0" > 
                    <div>
                        <div class="row row-cols-2 mx-0 mt-4" style="@actions_schedule_style">
                            <input type="radio" class="btn-check"  name="action-todo" id="chk-action-giveout" autocomplete="off" checked="@action_giveout">
                            <label class="btn btn-check-label col-6 btn-outline-success" for="chk-action-giveout">Выдача</label>
                            <input type="radio" class="btn-check" name="action-todo" id="chk-action-schedule" autocomplete="off" checked="@action_schedule">
                            <label class="btn btn-check-label col-6 btn-outline-warning" for="chk-action-schedule" >Бронь</label>
                        </div>                  
                        <div class="row row-cols-1 mx-0 mt-4" >                        
                             <select asp-for="RentalType" asp-items="Html.GetEnumSelectList<RentalType>()">
                            </select>
                        </div>
                         <!--div class="row row-cols-3 mx-0 mt-4">                         
                            <input type="radio" class="btn-check"  name="billing-options" id="chk-hourly" autocomplete="off" checked="@rental_type_hourly" enabled="@billing_options_enabled">
                            <label class="btn btn-check-label btn-outline-secondary" for="chk-hourly" title="Почасовой прокат"><i class="bi bi-clock"></i> </label>
                            <input type="radio" class="btn-check" name="billing-options" id="chk-onetime" autocomplete="off" checked="@rental_type_once" enabled="@billing_options_enabled">
                            <label class="btn btn-check-label btn-outline-secondary" for="chk-onetime" title="Разовая оплата"><i class="bi bi-ticket"></i> </label>    
                            <input type="radio" class="btn-check" name="billing-options" id="chk-daily" autocomplete="off" checked="@rental_type_daily" enabled="@billing_options_enabled">
                            <label class="btn btn-check-label btn-outline-secondary" for="chk-daily" title="Посуточная аренда"><i class="bi bi-calendar-week"></i> </label>
                         </div-->                    
                        <div></div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label for="Start" class="control-label">Выдача с</label>
                            <input name="Start" id="time-start" class="form-control timer-start @timer_start_active" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}" disabled="@Active"/>
                            <span class="text-danger field-validation-valid" data-valmsg-for="Start" data-valmsg-replace="true"></span>
                        </div> 
                        <div class="form-group">
                            <label for="End" class="control-label">Возврат до</label>
                            <input name="End" id="time-end" class="form-control timer_end" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}"/>
                            <span class="text-danger field-validation-valid" data-valmsg-for="End" data-valmsg-replace="true"></span>
                        </div>  

                        <div>
                            <label                      for="Duration" class="control-label">Плановое время</label>
                            <input id="input-duration" name="Duration" class="form-control" type="number" min="1" value="@Duration" disabled="@rental_type_once"/>
                        </div>  
                    </div>
                    <div>

                        <div class="form-group">
                            <label for="StartActual" class="control-label">Выдан</label>
                            <input name="StartActual" class="form-control @timer_end_active" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}" disabled/>
                            <span class="text-danger field-validation-valid" data-valmsg-for="EndActual" data-valmsg-replace="true"></span>
                        </div> 
                        <div class="form-group">
                            <label for="EndActual" class="control-label">Принят</label>
                            <input name="EndActual" class="form-control @timer_end_active" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}" disabled/>
                            <span class="text-danger field-validation-valid" data-valmsg-for="EndActual" data-valmsg-replace="true"></span>
                        </div>      
                        <div>
                            <label                      for="DurationActual" class="control-label">Полное время</label>
                            <input id="actual-duration" name="DurationActual" class="form-control" type="number" min="1" disabled/>
                        </div>  
                    </div>
                </div>
            </div>

            <div>
                <div>
                    <div class="align-self-end">             
                    </div>    
                </div>    
                <div class="row row-cols-sm-3 mx-0">
                    <div class="align-self-end ">
                    </div>   
                </div>              
                <div class="row row-cols-sm-3 mx-0" >
                    <div>                   
                    </div>      
                </div>
            </div>
            
            <div class="container-fluid"> 
                <div class="row row-cols-3 mx-0" >  
                    <h4 class="col-2 align-self-baseline">Состав: </h4> 
                    <div class="col-6 align-self-baseline">            
                    </div>
                    <div class="col-4 d-flex justify-content-end">  
                        <button type="button" class="btn btn-light col-4" id="btn-rental-items">
                            <i class="bi bi-chevron-expand"></i>
                        </button>                     
                    </div>  
                </div>
            </div>
      
            <div class="container-fluid" id="rental-items"> 
                <div class="row-cols-1 tablealign" >  
                    <partial name="_RentalItemsList"  /> 
                </div>

                <div class="row row-cols-3 justify-content-start  mx-0" >  
                    <div class="flex justify-content-start">     
                        <button type="button" class="btn btn-success col-6" id="btn-show-items-chooser">
                            <i class="bi bi-plus-lg"></i>
                        </button>                 
                    </div>  
                </div>

                <div class="container-fluid tablealign scroll-table" id="rental-items-chooser" style="display: none" >
                    <partial name="_RentalItemsChooser"  />  
                </div>                
            </div>
        </form>                
         
    </div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/rentsystem.js"></script>
    
    <link rel="stylesheet" href="~/css/rentsystem.css" asp-append-version="true" />
    
    
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }    
    
    <script>     
        @{var settings = new JsonSerializerSettings{ DateFormatString = "yyyy-MM-ddTHH:mm" };}
        var availability = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Availability, settings));
        var bookingDateTime = new Date( @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Start, settings)) );
        var scheduled = @Json.Serialize(Scheduled);
        var active = @Json.Serialize(Active);
        var url_rental_customer = "@Url.Action("Customer", "rental")";
        var url_rental_additem = "@Url.Action("addRentedItem", "rental")";
        var url_rental_searchcustomer = "@Url.Action("searchCustomerByNumber", "rental")";
    </script>

}