@model IEnumerable<Bikepark.Models.ItemCategory>

@{
    ViewData["Title"] = "Категории прокатных единиц";
    ViewData["menu"] = "storage";
    Layout = "_MainLayout";
}

<h1>Категории прокатных единиц</h1>

<p>
    <a asp-action="Create">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemCategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemCategoryID">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ItemCategoryID">Просмотр</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemCategoryID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
