@model IEnumerable<Bikepark.Models.ItemCategory>

@{
    ViewData["Title"] = "Категории прокатных единиц";
    ViewData["menu"] = "storage";
    Layout = "_MainLayout";
}

<h3>Категории прокатных единиц</h3>
<div class="d-flex flex-wrap justify-content-between align-items-center border-bottom">
    <ul class="nav col-md-6 justify-content-start">
        <li class="nav-item">
            <a class="nav-link" asp-action="Create">Создать новую</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Storage" >Склад</a>
        </li>     
    </ul>

    <ul class="nav  col-md-6 justify-content-end">
        <li class="nav-item">
            <a class="nav-link" asp-action="Export" style="display: none">Загрузить таблицу XLS</a>
        </li>    
        <li class="nav-item"> 
            <a class="nav-link" asp-action="Main" asp-controller="Storage">Управление</a> 
        </li>    
    </ul>  
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accessories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accessories)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemCategoryID">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ItemCategoryID">Просмотр</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemCategoryID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
