@model Bikepark.Models.Pricing

@{
    ViewData["Title"] = "Delete Billing Plan";
    ViewData["menu"] = "pricing";
    Layout = "_MainLayout";
    var hasRecords = ViewBag.HasRecords;
    var action = hasRecords ? "ARCHIVE" : "DELETE";

}

    <h3>Delete Billing Plan</h3>
    <h4>Do you really want to delete Billing Plan #@Model.PricingID?</h4>
    @if (hasRecords)
    { 
        <h5 style="display:inline">The log contains records regarding the rental with this Billing Plan</h5>  
        <p><a target="_blank" rel="noopener noreferrer" href="/Log/WithPricing/?id=@Model.PricingID">View the log excerpt in a new tab?</a></p>
        <p>If deleted, the plan will be archived (for logging purposes).</p>
    }   
<hr />
 <div class="container-sm"> 
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricingCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricingCategory!.PricingCategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricingType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysOfWeek)
        </dt>
        <dd class = "col-sm-10">
             <partial name="_DaysOfWeekLabel" model="@Model.DaysOfWeek" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHoliday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHoliday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReduced)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReduced)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PricingID" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        <input type="submit" value="@action" class="btn btn-danger" />
    </form>
</div>
