@model Bikepark.Models.Item

@{
    Layout = "_ManageLayout";
    ViewData["Title2"] = "Информация";
}

<h1>Информация по инвентарю</h1>

<div>
    <h4>{@Model.ItemType.ItemCategory.ItemCategoryName} </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemType.ItemTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ItemID">Изменить данные</a> |
    <a asp-action="Storage">Весь инвентарь</a>
</div>
