@model IEnumerable<Bikepark.Models.RentalPricing>

@{
    Layout = "_ManageLayout";
    ViewData["Title2"] = "Тарифы";
}

<h1>Тарифы</h1>

<p>
    <a asp-action="Create">Создать новый тариф</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalPricingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemCategory.ItemCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHoliday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReduced)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var pricing in Model) {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => pricing.RentalPricingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => pricing.RentalPricingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => pricing.ItemCategory.ItemCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => pricing.RentalType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => pricing.DaysOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => pricing.IsHoliday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => pricing.IsReduced)
            </td>
            <td>
                @Html.DisplayFor(modelItem => pricing.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@pricing.RentalPricingID">Изменить</a> |
                <a asp-action="Delete" asp-route-id="@pricing.RentalPricingID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
           $("#navbar-manage .active").removeClass("active");
           $("#manage-link-pricing").addClass("active");
        });
    
    </script>
}