

@model IEnumerable<Bikepark.Models.ItemRecord>

@using Bikepark.Models
@using Microsoft.EntityFrameworkCore
@using Bikepark.Views.Helpers

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Ремонт";
    var RecordID = ViewBag.RecordID;
    ItemRecord someItemRecord = new ItemRecord();
}
    <form  id="fixing-control" asp-controller="Log" class="container-lg">
        <div class="container-fluid"> 
            <div class="row justify-content-start mx-0 align-self-baseline" >  
                <h5 class="row">Ремонт</h5> 
            </div>
        </div>
        <hr />

         <div class="container-fluid" id="fixing-control-title"> 
            <div class="row" >         
                <div class="d-flex justify-content-start col-3">
                    <button type="submit" asp-action="UpdateService" id="btn-update" class="btn btn-primary  col-12 mx-0 text-truncate" style="display: inline;" >        
                        <i class="bi bi-save"></i>                          
                        Сохранить
                    </button>    
                </div>  
                <div class="d-flex justify-content-end col-6">                    
                       <span class="px-1">Цена</span>
                       <span class="px-1" id="price"></span>
                </div>
                <div class="d-flex justify-content-end col-3">
                    @if(RecordID==null)
                    {
                        <button type="submit" asp-action="Index" class="btn btn-secondary col-12 " id="btn-discard" formnovalidate="formnovalidate" >
                            <i class="bi bi-arrow-return-left"></i>
                        </button>
                    }
                    else
                    {
                        <button type="submit" asp-controller="Rental" asp-action="Control" asp-route-id="@RecordID" class="btn btn-secondary col-12 " id="btn-discard" formnovalidate="formnovalidate" >
                            <i class="bi bi-arrow-return-left"></i>
                        </button>                        
                    }
                    </div>
            </div>
        </div>
        <hr />

        <table class="tablealign">
            <thead>
                <tr>
                    <th style="width : 150px">
                        <div class="row-sm">Назначить</div>
                    </th>
                    <th style="width : 5%">
                        <div class="row-sm">@Html.DisplayNameFor(m => someItemRecord.Item.ItemNumber)</div>
                    </th >
                    <th style="width : 15%">
                        <div class="row-sm">@Html.DisplayNameFor(m => someItemRecord.Start)</div>
                    </th>
                    <th style="width : 15%">
                        <div class="row-sm">@Html.DisplayNameFor(m => someItemRecord.End)</div>
                    </th>
                    <th  style="width : 15%">
                        <div class="row-sm">@Html.DisplayNameFor(m => someItemRecord.Pricing.PricingName)</div>
                    </th>
                    <th style="width : 5%">
                        <div class="row-sm">Стоимость</div>
                    </th>
                    <th style="width : 150px">
                    </th>
                </tr>
            </thead>
            <tbody id="itemrecords-list">
                @foreach (var itemRecord in Model)
                {
                    <partial name="_ItemRecordRow_service" model = "@itemRecord" />  
                }
            </tbody>
        </table>

    
    </form>
    
@section Scripts {          
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script src="~/js/rent-service.js"></script>    
    <link href="~/css/rent-main.css" rel="stylesheet" asp-append-version="true" /> 
    
    <script>   
        var prices = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject( ViewBag.Pricings ));
        var arcprices = (@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject( ViewBag.ArchivalPricings )));
        var availability = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject( ViewBag.Availability ));
        var url_rental_addservicerecord = "@Url.Action("AddServiceItemRecord", "log")";
    </script>   
}


                                

