@model Bikepark.Models.ItemRecord

@using Bikepark.Models
@using Microsoft.EntityFrameworkCore
@using Bikepark.Views.Helpers

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Удаление записи";
    IEnumerable<Bikepark.Models.ItemRecord> ItemRecs = ViewBag.ItemRecs;
}




<h3>Удалить</h3>
<h4>Вы уверены?</h4>

<div>
    <h4>Запись #@Model.ItemRecordID</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4" >
            @Html.DisplayNameFor(model => Model.Record)
        </dt>
        <dd class = "col-sm-8">
            @if(@Model.RecordID!=null){
                <a asp-action="Control" asp-route-id="@Model.RecordID">#@Html.DisplayFor(model => Model.RecordID)</a>
            }
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => Model.Status)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => Model.Status)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => Model.Start)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => Model.Start)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => Model.End)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => Model.End)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => Model.Pricing)
        </dt>
        <dd class = "col-sm-8">
                @Html.DisplayFor(modelItem => Model.Pricing.PricingName)
                :
                @Html.DisplayFor(modelItem => Model.Pricing.Price)
                
                    @if (Model.Pricing != null)
                    {
                        @if (Model.Pricing.PricingType != PricingType.Service) {
                            <span> - </span>
                            @Html.DisplayFor(modelItem => Model.Pricing.PricingType)
                        }
                    }
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => Model.Item.ItemType)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => Model.Item.ItemType.ItemTypeName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => Model.Item.ItemNumber)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => Model.Item.ItemNumber)
        </dd>
    </dl>
    
    <form asp-action="DeleteItemRecord">
        <input type="hidden" asp-for="ItemRecordID" />
        <a asp-action="ItemRecordsIndex" class="btn btn-secondary" >Отмена</a> |
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
    </form>
    
</div>
