@model IEnumerable<Bikepark.Models.ItemRecord>
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Журнал " + ViewBag.LogName;
    var Number = ViewBag.Number;
    var Error = ViewBag.Error;    
    var Service = ViewBag.Service;
    var Rental = ViewBag.Rental;
    var Actual = ViewBag.Actual;
    var From    = ViewBag.From;
    var To      = ViewBag.To;
}
<h1>Журнал</h1>
<h5>@ViewBag.LogName</h5>
<div class="d-flex flex-wrap justify-content-between align-items-center border-bottom">
    <ul class="nav col-md-6 justify-content-start">  
        @if(Service) {
            <li class="nav-item">
                <a class="nav-link" asp-action="NumberOnService">Назначить ремонт</a>
            </li>  
        } 
        @if(Rental)  
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Rental" asp-action="Actual">Журнал заказов</a>
            </li>    
        }   
    </ul>
    <ul class="nav  col-md-6 justify-content-end"> 
        <li class="nav-item">
            <a class="nav-link" asp-action="Export" style="display: none">Загрузить таблицу XLS</a>
        </li>    
        @if(Service) 
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Service" asp-route-Actual="@(!Actual)">@(Actual?"Все":"Актуальные") записи</a>
            </li>
        }
        @if(Rental) 
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Rental" asp-route-Actual="@(!Actual)">@(Actual?"Все":"Актуальные") записи</a>
            </li>            
        }
    </ul>  
</div>

<partial name="_Log" /> 

@section Scripts {          
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/items.js"></script> 
    <link href="~/css/rent-main.css" rel="stylesheet" asp-append-version="true" /> 
    <script>
        var error = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Error));  
    </script>
}

