@model ItemFilter

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<tr>
    <form asp-controller="Bikepark" asp-action="Filter">        
        <th>
            <input type="submit" value="Filter results" />                                       
        </th>
        <th>
            <select asp-for="CategoryID" asp-items="@Model.Categories">
                <option value="-1" selected>All</option></select>                                     
        </th>
        <th>
            <select asp-for="SubCategoryID" asp-items="@Model.SubCategories">
                <option value="-1" selected>All</option></select>                                          
        </th>   
        <th>
            <select asp-for="Name" asp-items="@Model.Names">
                <option value="" selected>All</option></select>                                         
        </th>   
        <th>
            <select asp-for="Size" asp-items="@Model.Sizes">
                <option value="-1" selected>All</option></select>                                          
        </th>   
        <th>
            <select asp-for="Number" asp-items="@Model.Numbers">
                <option value="-1" selected>All</option></select>                                          
        </th>   
        <th>
            <select asp-for="Status" asp-items="@Model.Statuses">
                <option value="" selected>All</option></select>                                          
        </th>   
        <th>
            
        </th>                                           
        </form>
</tr>