@model IEnumerable<Item>

@{
    ViewData["Title"] = "Bike Park Storage";
}

<div class="text-center">
    <h1 class="display-4">Bike Park Storage</h1>
    
    
<table class="table">
        <thead>
            <tr>
                <th>
                                     
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryID)                    
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubCategoryID)                    
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)                    
                </th>
                <th>
                                     
                </th>
            </tr>
            <partial name="Filter" model="new ItemFilter(Model)"/>
            
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ItemID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ItemID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ItemID">Delete</a>
                </td>
            </tr>
            }
        </tbody>
</table>
</div>