@model Bikepark.Models.Item

@{
    ViewData["Title"] = "Delete Item";
    ViewData["menu"] = "items";
    Layout = "_MainLayout";
    var hasRecords = ViewBag.HasRecords;
    var action = hasRecords ? "ARCHIVE" : "DELETE";
}

<div class="col-md-6">  
    <h3>Delete Item (Vacate Number)</h3>
    <h4>Do you really want to vacate the Number #@Model.ItemNumber?</h4>
    @if (hasRecords)
    { 
        <h5 style="display:inline">The log contains records regarding the rental of this Number.</h5>  
        <p><a target="_blank" rel="noopener noreferrer" href="/Log/OfItem/?id=@Model.ItemID">View the log excerpt in a new tab?</a></p>
        <p>If deleted, the number will be archived (for logging purposes), but will become available for reassignment.</p>
    }     
</div>  
<hr />
<div class="container-sm">  
    <div class="row">
        <div class="col-md-3">
            <dl class="row">
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemType)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model!.ItemType!.ItemTypeName)
                </dd>
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemNumber)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemNumber)
                </dd>
            </dl>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ItemID" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        <input type="submit" value="@action" class="btn btn-danger" />
    </form>
</div>
