@model Bikepark.Models.Item

@{
    ViewData["Title"] = "Item";
    ViewData["menu"] = "items";
    Layout = "_MainLayout";
    string archival = Model.Archival ? "(archival)" : "";
}

<h3>Item Details</h3>
<h4>Item #@Model.ItemID @archival</h4>

<hr />
<div class="container-sm">  
    <div class="row">
        <div class="col-md-3">
            <dl class="row">
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemType)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model!.ItemType!.ItemTypeName)
                </dd>
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemNumber)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemNumber)
                </dd>
            </dl>
        </div>
    </div>
    <div>
        <a asp-action="Index"  class="btn btn-secondary">Back</a>
        <a asp-action="Edit"  class="btn btn-primary" asp-route-id="@Model?.ItemID">Change</a>
    </div>
</div>
