@model IEnumerable<Bikepark.Models.Item>

@{
    ViewData["Title"] = "Велосипеды";
    Layout = "_MainLayout";
}

<h3>Велосипеды и аксессуары</h3>
<div class="d-flex flex-wrap justify-content-between align-items-center border-bottom">
    <ul class="nav col-md-6 justify-content-start">
        <li class="nav-item">
            <a class="nav-link" asp-action="Create">Добавить</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Storage" >Склад</a>
        </li>     
    </ul>

    <ul class="nav  col-md-6 justify-content-end">
        <li class="nav-item">
            <a class="nav-link" asp-action="Export" asp-controller="Storage" >Загрузить таблицу XLS</a>
        </li>    
        <li class="nav-item"> 
            <a class="nav-link" asp-action="Main" asp-controller="Storage">Управление</a> 
        </li>    
    </ul>  
</div>
  
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemType.ItemTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemID">Изменить</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
