@model IEnumerable<Bikepark.Models.Item>

@using Bikepark.Models
@using Microsoft.EntityFrameworkCore

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Bikepark";
    ViewData["menu"] = "storage";    
    DbSet<ItemRecord> ItemRecs = ViewBag.ItemRecs;
}

<h3>Bikepark</h3>

@if ( User?.Identity?.IsAuthenticated == true){
    if ( User.IsInRole(BikeparkConfig.ManagersRole) ){  
        <p>
            <a asp-action="Create">Add Bike or Accessory</a>
        </p>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemNumber)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        
            int service = await ItemRecs.Where(itemrec => itemrec.ItemID == item.ItemID).CountAsync(itemrec => itemrec.Status == Bikepark.Models.Status.Service);
            int active = await ItemRecs.Where(itemrec => itemrec.ItemID == item.ItemID).CountAsync(itemrec => itemrec.Status == Bikepark.Models.Status.Active);
            int onservice = await ItemRecs.Where(itemrec => itemrec.ItemID == item.ItemID).CountAsync(itemrec => itemrec.Status == Bikepark.Models.Status.OnService);
            int schedule = await ItemRecs.Where(itemrec => itemrec.ItemID == item.ItemID).CountAsync(itemrec => itemrec.Status == Bikepark.Models.Status.Scheduled);
        
        var Status = ((active>0)?"Currently rented ":"") + 
                        ((active>1)?"Error: Number of simultaneous Rents of an Item in current Moment " + active:"") + 
                        ((onservice>0)?"On maintenance ":"") + 
                        ((active>0 && onservice>0)?"Error: Currently rented, but simultaneous listed as on maintenance " + active:"") +
                        ((schedule>0)?"There are scheduled reservations (" + schedule + ") ":"") +
                        ((service>0)?"Maintenance required":"") ;

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemType!.ItemTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemNumber)
            </td>
            <td>
                @Status
            </td>
            <td>
                <a asp-controller="Rental" asp-action="ItemDetails" asp-route-id="@item.ItemID">Details</a>
                
                @if ( User?.Identity?.IsAuthenticated == true ){
                    if ( User.IsInRole(BikeparkConfig.ManagersRole) ){  
                        <span>|</span>
                        <a asp-action="Edit" asp-route-id="@item.ItemID">Change</a>
                        <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.ItemID">Delete</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>