@model Bikepark.Models.ItemType

@{
    ViewData["Title"] = "Удалить";
    ViewData["menu"] = "storage";
    Layout = "_MainLayout";
    int itemsCount = ViewBag.ItemsCount;
    var hasRecords = ViewBag.HasRecords;
    var action = hasRecords ? "АРХИВИРОВАТЬ" : "УДАЛИТЬ";

}

    <h1>Удалить</h1>
    <h3>Вы дейсвительно хотите удалить модель #@Model.ItemTypeID?</h3>
    @if(itemsCount==0 ){
        <h5>Номеров велосипедам/амуниции этой модели не присвоено</h5>
    }
    else
    {        
        if (hasRecords)
        { 
            <h5 style="display:inline">В журнале есть записи о выдаче номеров этой модели</h5>  
            <p><a target="_blank" rel="noopener noreferrer" href="/Log/OfType/?id=@Model.ItemTypeID">Просмотреть в новой вкладке?</a></p>
            <p>Поэтому модель и номера будут заархивированы</p>
            <hr />
        }
        <h5 style="display:inline">Число велосипедов/амуниции этой модели:</h5>  
        <h3 style="display:inline">@itemsCount</h3>
        <p><a target="_blank" rel="noopener noreferrer" href="/Items/OfType/?id=@Model.ItemTypeID">Просмотреть в новой вкладке?</a></p>
        <p>Если @action модель, выдать эти номера будет нельзя, но можно будет присвоить их другой модели</p>   
    }
<hr />
<div class="container-sm">  
    <div class="row">
        <div class="col-md-3">
             <dl>        
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemTypeName)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemTypeName)
                </dd>
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemCategory)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemCategory.ItemCategoryName)
                </dd>
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.PricingCategory)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.PricingCategory.PricingCategoryName)
                </dd>
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemDescription)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemDescription)
                </dd>
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemExternalURL)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemExternalURL)
                </dd>
            </dl>
        </div>
    
        <div class="col-md-3">
            <dl>
        
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemSize)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemSize)
                </dd>
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemWheelSize)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemWheelSize)
                </dd>
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemAge)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemAge)
                </dd>
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemGender)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemGender)
                </dd>
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemColor)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemColor)
                </dd>
            </dl>
        </div>

    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ItemTypeID" />
        <input type="submit" value="@action" class="btn btn-danger" /> |
        <a asp-action="Index">Отмена</a>
    </form>
</div>
    
<style>

    dd {
        height : 2em;
    }

    dd {
    text-align: left;
    overflow: hidden;
    vertical-align: text-top;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

    dd:hover {
        text-overflow: clip;
        white-space: initial;
    }


</style>