@model Bikepark.Models.ItemType

@{
    ViewData["Title"] = "Delete Item Type";
    ViewData["menu"] = "storage";
    Layout = "_MainLayout";
    int itemsCount = ViewBag.ItemsCount;
    var hasRecords = ViewBag.HasRecords;
    var action = hasRecords ? "ARCHIVE" : "DELETE";
}

    <h3>Delete Item Type</h3>
    <h4>Do you really want to delete Item Type #@Model.ItemTypeID?</h4>
    @if(itemsCount==0 ){
        <h5>There is no Items (assigned Numbers) of this Type.</h5>
    }
    else
    {        
        if (hasRecords)
        { 
            <h5 style="display:inline">The log contains records regarding the rental of Items of this Type.</h5>  
            <p><a target="_blank" rel="noopener noreferrer" href="/Log/OfType/?id=@Model.ItemTypeID">View the log excerpt in a new tab?</a></p>
            <p>If deleted, the type will be archived (for logging purposes)</p>
            <hr />
        }
        <h5 style="display:inline">The amount of Bikes or Accessories of this Type:</h5>  
        <h4 style="display:inline">@itemsCount</h4>
        <p><a target="_blank" rel="noopener noreferrer" href="/Items/OfType/?id=@Model.ItemTypeID">View all in a new tab?</a></p>
        <p>If @action this Type, it will be impossible to Rent these Items until they (their Numbers) are assigned to another Type.</p>   
    }
<hr />
<div class="container-sm">  
    <div class="row">
        <div class="col-md-3">
             <dl>        
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemTypeName)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemTypeName)
                </dd>
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemCategory)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemCategory!.ItemCategoryName)
                </dd>
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.PricingCategory)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.PricingCategory!.PricingCategoryName)
                </dd>
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemDescription)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemDescription)
                </dd>
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemExternalURL)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemExternalURL)
                </dd>
            </dl>
        </div>
    
        <div class="col-md-3">
            <dl>
        
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemSize)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemSize)
                </dd>
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemWheelSize)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemWheelSize)
                </dd>
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemAge)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemAge)
                </dd>
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemGender)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemGender)
                </dd>
                <dt class = "row justify-content-start ms-1">
                    @Html.DisplayNameFor(model => model.ItemColor)
                </dt>
                <dd class = "row justify-content-start ms-3">
                    @Html.DisplayFor(model => model.ItemColor)
                </dd>
            </dl>
        </div>

    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ItemTypeID" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        <input type="submit" value="@action" class="btn btn-danger" />
    </form>
</div>
    
<style>

    dd {
        height : 2em;
    }

    dd {
    text-align: left;
    overflow: hidden;
    vertical-align: text-top;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

    dd:hover {
        text-overflow: clip;
        white-space: initial;
    }


</style>