@model Bikepark.Models.ItemType

@{
    ViewData["Title"] = "Item Type Edit";
    ViewData["menu"] = "storage";
    Layout = "_MainLayout";
    int itemsCount = ViewBag.ItemsCount;
    var hasRecords = ViewBag.HasRecords;
    string archival = Model.Archival ? "(archival)" : "";
}
<div class="col-md-6">  
@if (Model.ItemTypeID != null)
{
    <h3>Change Item Type</h3>
    <h4>Item Type #@Model.ItemTypeID @archival</h4>
}
else
{
    <h3>Add Item Type</h3>
    <h4>New Item Type</h4>    
}
</div>
<hr />
 <div class="container-sm">  
    <form asp-controller="Storage">
        <div class="row">
            <div class="col-md-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" id="typeid" name="ItemTypeID" value="@Model.ItemTypeID" />
                <input type="hidden" asp-for="Archival" />
                <div class="form-group">
                    <label asp-for="ItemTypeName" class="control-label"></label>
                    <input asp-for="ItemTypeName" class="form-control" required/>
                    <span asp-validation-for="ItemTypeName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ItemCategoryID" class="control-label"></label>
                    <select asp-for="ItemCategoryID" class="form-control" asp-items="ViewBag.ItemCategoryID">
                        <option value="">Not specified</option>
                    </select>
                    <span asp-validation-for="ItemCategoryID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PricingCategoryID" class="control-label"></label>
                    <select asp-for="PricingCategoryID" class="form-control" asp-items="ViewBag.PricingCategoryID">
                        <option value="">Not specified</option>
                    </select>
                    <span asp-validation-for="PricingCategoryID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ItemDescription" class="control-label"></label>
                    <input asp-for="ItemDescription" class="form-control" />
                    <span asp-validation-for="ItemDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ItemExternalURL" class="control-label"></label>
                    <input asp-for="ItemExternalURL" class="form-control" />
                    <span asp-validation-for="ItemExternalURL" class="text-danger"></span>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="ItemSize" class="control-label"></label>
                    @*<input asp-for="ItemSize" class="form-control" />*@
                    <select asp-for="ItemSize" asp-items="Html.GetEnumSelectList<ItemSize>()" class="form-control"></select>
                  
                    <span asp-validation-for="ItemSize" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ItemWheelSize" class="control-label"></label>
                    <input asp-for="ItemWheelSize" class="form-control" />
                    <span asp-validation-for="ItemWheelSize" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ItemAge" class="control-label"></label>
                    @*<input asp-for="ItemAge" class="form-control" />*@
                    <select asp-for="ItemAge" asp-items="Html.GetEnumSelectList<ItemAge>()" class="form-control"></select>
                    <span asp-validation-for="ItemAge" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ItemGender" class="control-label"></label>
                    @*<input asp-for="ItemGender" class="form-control" />*@
                    <select asp-for="ItemGender" asp-items="Html.GetEnumSelectList<ItemGender>()" class="form-control"></select>
                    <span asp-validation-for="ItemGender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ItemColor" class="control-label"></label>
                    <input asp-for="ItemColor" class="form-control" />
                    <span asp-validation-for="ItemColor" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">                
                @if (Model.ItemTypeID != null)
                {
                    <row >
                        Items (@itemsCount) |  
                        <a asp-action="Numbers" asp-route-id="@Model?.ItemTypeID">Change</a>
                        @*| 
                            <button type="button" class="btn btn-link" id="btn-item-numbers-view" data-typeid="@Model?.ItemTypeID">Show</button>   *@             
                    </row>
                    <div id = "item-numbers-preview">

                    </div>
                }
            </div>
        </div>

        <div class="flex-row justify-content-start">
            <div class="row row-cols-4 col-md-9 mt-3">
                <div class="form-group col-md-2 ">  
                    <a asp-action="Index" class="btn btn-secondary col-md-12">Cancel</a>
                </div>
                @if (Model!.ItemTypeID != null)
                {
                    <div class="form-group col-md-2 ">
                        <button type="submit" asp-action="Edit" class="btn btn-dark col-md-12" >Change</button>
                    </div>
                    @if (hasRecords)
                    {
                        <div class="form-group col-md-2 ">
                            <button type="submit"  asp-action="Replace" class="btn btn-primary col-md-12"  title="Replace the old Type for all its Items; the previous Type and Items of Type will be archived.">Replace</button>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-2 ">
                        </div>                        
                    }
                    <div class="form-group col-md-2 ">
                        <button type="submit"  asp-action="Create" class="btn btn-info col-md-12" title="Copy and create a new Item Type; there will be no Items of this new Type in Storage.">Copy</button>
                    </div>
                }
                else
                {
                    <div class="form-group col-md-2 ">
                        <button type="submit"  asp-action="Create" class="btn btn-primary col-md-12" >Create</button>
                    </div>
                    <div class="col-md-2 ">
                    </div>
                    <div class="col-md-2 ">
                    </div>
                }
            </div>
        </div>
    </form>
</div>

<div class="col-md-6">  
@if (Model.ItemTypeID != null)
{
    @if (hasRecords)
    { 
        <h5 style="display:inline">The log contains records regarding the rental of Items of this Type.</h5>  
        <p><a target="_blank" rel="noopener noreferrer" href="/Log/OfType/?id=@Model.ItemTypeID">View the log excerpt in a new tab?</a></p>
        
        <h5 style="display:inline">The amount of Bikes or Accessories of this Type:</h5>  
        <h4 style="display:inline">@itemsCount</h4>
        <p><a target="_blank" rel="noopener noreferrer" href="/Items/OfType/?id=@Model.ItemTypeID">View all in a new tab?</a></p>

        <p>If you CHANGE it, this affect all existing log Records.</p>
        <p>If you REPLACE it, the old Type will be archived (and will appear in the existing log Records), and a new one will be created.</p>
        <p>If you COPY it, the original Type will remain unchanged, but a new one will be created based on it (without any assigned numbers).</p>
    } 
    else
    {
        <h5 style="display:inline">The amount of Bikes or Accessories of this Type:</h5>  
        <h4 style="display:inline">@itemsCount</h4>
        <p><a target="_blank" rel="noopener noreferrer" href="/Items/OfType/?id=@Model.ItemTypeID">View all in a new tab?</a></p>

        <p>If you CHANGE it, this affect all existing log Records.</p>
        <p>If you COPY it, the original Type will remain unchanged, but a new one will be created based on it (without any assigned numbers).</p>        
    }
}
</div>

@section Scripts {          
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/storage-details.js"></script> 
    <script>
        var url_itemtype_numbers = "@Url.Action("ItemTypeNumbers", "storage")";   
    </script>
}