@model IEnumerable<Bikepark.Models.Customer>

@{

}

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPassport)
            </th>
            <th>
                <button class="btn-cancel-customer btn btn-sm btn-outline-secondary"  type="button"><i class="bi bi-x"></i></button>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPassport)
            </td>
            <td>
                <button class="btn-select-customer btn btn-sm btn-outline-secondary"  type="button" data-customerid="@item.CustomerID"><i class="bi bi-person-check"></i></button>
            </td>
        </tr>}
    </tbody>
</table>
