@model IEnumerable<Bikepark.Models.PricingCategory>

@{
    ViewData["Title"] = "Категории тарификации";
    ViewData["menu"] = "pricing-categories";
    Layout = "_MainLayout";
}

<h1>Категории тарификации</h1>

<p>
    <a asp-action="Create">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PricingCategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PricingCategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PricingCategoryID">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.PricingCategoryID">Просмотр</a> |
                <a asp-action="Delete" asp-route-id="@item.PricingCategoryID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
